<%- include("partials/header") %>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div id="jumboCont" class="container text-center mb-4">
    <img id="fotoP" src="img/foto1.jpeg" class="rounded-circle">
    <h1 class="display-3">Silvio Ligas</h1>
    <h2 >Web Developer Full Stack</h2>
    <a class="btn btn-danger btn-lg" href="https://drive.google.com/open?id=1w-FNOU9gQdRzYjS5SO0jxavMunU0Y__p">Descargar CV</a>
  </div>
  <div class="text-center">
    <a href="">Icono Git</a>
    <a href="">Icono Linkedin</a>
  </div>
</div>

<!-- Container -->
<div class="container mb-4">
  <!-- row -->
  <section class="row">

    <div class="col-md-12">
      <h3 class="">Sobre Mí<hr></h3>
    
    </div>
    <div class="col-md-6">
      <p class="lead">
        Mi nombre es Silvio Ligas, tengo 28 años soy de Valencia Venezuela, aunque resido en Argentina.
        Soy trabajador independiente y me dedico al desarrollo web. Como desarrollador web, me estoy especializando para 
        ser un desarrollador web full stack, haciendo uso de tecnologías en el desarrollo Front-End (HTML5, CSS3, Javascript, Bootstrap, Semantic UI).
        En el Back-End tengo experiencia en Nodejs, Express, Mongodb
      </p>
    </div>
    <div class="col-md-6">
      <p class="lead">
        Busco una oportunidad laboral en donde pueda desarrollar mis conocimientos y adquirir la experiencia necesaria.
        Soy una persona proactiva, con capacidad de aprendizaje rápido y en contante formación.
      </p>

    </div>
    <!-- row -->
  </section>
  <!-- container -->
</div>

<div class="aptitudes mb-5">
  <div class="container">
    <section class="row">
      <div class="col-md-12 text-center center-block mb-5">
        <h1 class="display-4 mb-4">Aptitudes Profesionales</h1>
        <button class="btn btn-lg btn-primary">Conocimientos</button>
      </div>
      <div class="col-md-6 mb-5">
        <h4>HTML/CSS</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>Javascript</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>Bootstrap</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>Semantic UI</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <h4>Jquery</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>NodeJS</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>ExpressJS</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>MongoDB</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </section>
    <!-- Container -->
  </div>
</div>

<section class="row">
  <div class="container">
    <div class="col-md-12">
      <h3>Certificados</h3>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Curso <a href="https://www.udemy.com/course-dashboard-redirect/?course_id=625204">"The Web Developer Bootcamp"</a></h4>
          <footer class="blockquote-footer">Por<cite title="Source Title"> Colt Steel</cite></footer>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>2019</p>
            <p>HTML5 - CSS3 - JavaScript - Bootstrap 4 - jQuery - NodeJS - ExpressJS - MongoDB</p>
            <a href="">Ver Certificado</a>
          </blockquote>
        </div>
      </div>      
    </div>
    <!-- Container -->
  </div>
</section>

<%- include("partials/footer") %>