<%- include("partials/header") %>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid pb-4">
  <div id="jumboCont" class="container text-center mb-4">
    <img id="fotoP" src="img/foto1.jpeg" class="rounded-circle mb-3">
    <h1 class="display-4 mb-3">Silvio Ligas</h1>
    <h3 class="mb-5">Web Developer Full Stack</h3>
    <a id="btnD" class="btn btn-danger btn-lg p-2" href="https://drive.google.com/open?id=1w-FNOU9gQdRzYjS5SO0jxavMunU0Y__p">Descargar CV <i class="fas fa-download"></i></a>
  </div>
  <div class="text-center">
    <a href="https://github.com/sligas3"><i id="iJumb" class="fab fa-github p-2"></i></a>
    <a href="https://www.linkedin.com/in/silvio-ligas-44665a114/"><i id="iJumb" class="fab fa-linkedin p-2"></i></a>
  </div>
</div>

<!-- Container -->
<div class="container mb-4">
  <!-- row -->
  <section class="row">

    <div class="col-md-12">
      <h3 class="">Sobre Mí<hr></h3>
    
    </div>
    <div class="col-md-6">
      <p class="lead">
        Mi nombre es Silvio Ligas, tengo 28 años soy de Valencia Venezuela, aunque resido en Argentina.
        Soy trabajador independiente y me dedico al desarrollo web. Como desarrollador web, me estoy especializando para 
        ser un desarrollador web full stack, haciendo uso de tecnologías en el desarrollo Front-End (HTML5, CSS3, Javascript, Bootstrap, Semantic UI).
        En el Back-End tengo experiencia en Nodejs, Express, Mongodb
      </p>
    </div>
    <div class="col-md-6">
      <p class="lead">
        Busco una oportunidad laboral en donde pueda desarrollar mis conocimientos y adquirir la experiencia necesaria.
        Soy una persona proactiva, con capacidad de aprendizaje rápido y en contante formación.
      </p>

    </div>
    <!-- row -->
  </section>
  <!-- container -->
</div>

<div class="aptitudes mb-5">
  <div class="container">
    <section class="row">
      <div class="col-md-12 text-center center-block mb-5">
        <h1 id="apPro" class="display-4 mb-4">Aptitudes Profesionales</h1>
        <button class="btn btn-lg btn-info">Conocimientos</button>
      </div>
      <div class="col-md-6 mb-5">
        <h4>HTML/CSS</h4>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>Javascript</h4>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>Bootstrap</h4>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>Semantic UI</h4>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 55%" aria-valuenow= 55" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="col-md-6 mb-5">
        <h4>Jquery</h4>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>NodeJS</h4>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>ExpressJS</h4>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4>MongoDB</h4>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </section>
    <!-- Container -->
  </div>
</div>

<div class="container mb-5">
  <section class="row" style="width: 100%; display:flex; flex-wrap: wrap;">
    <div class="col-md-12 mb-5">
      <h3>Títulos y Certificados</h3>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Bachiller en Humanidades</h4>
          <footer class="blockquote-footer">Valencia - Venezuela</footer>
        </div>
        <div class="card-body text-center">
          <blockquote class="blockquote mb-0">
              <div class="thumbnail">
                  <img src="img/titulo.jpg" class="mb-3">
              </div>
            <p>2001 - 2008</p>
            <a class="btn btn-lg btn-info" href="https://drive.google.com/open?id=18umyIFgS16NRj2v4ylBRf8-7ZHtJCW0j">Ver título</a>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="card">
        <div class="card-header">
          <h4>Curso <a href="https://www.udemy.com/course-dashboard-redirect/?course_id=625204">"The Web Developer Bootcamp"</a></h4>
          <footer class="blockquote-footer">Udemy - Por<cite title="Source Title"> Colt Steel</cite></footer>
        </div>
        <div class="card-body text-center">
          <blockquote class="blockquote mb-0">
            <div class="thumbnail">
              <img src="img/certificado.jpg" class="mb-3">
          </div>
            <p>2019</p>
            <a class="btn btn-lg btn-info" href="https://drive.google.com/open?id=1gdp0xZcemcOEInJZwNU8ND6AGdGQQdE8">Ver certificado</a CL>
          </blockquote>
        </div>
      </div>      
    </div>
    <!-- Container -->
  </section>
  </div>

<%- include("partials/footer") %>