body {
	margin-bottom: 50px;
}

.navbar {
	background: #000000;
	background: -webkit-linear-gradient(to right, #434343, #000000);
	background: linear-gradient(to right, #434343, #000000);
}

.thumbnail img {
	width: 100%;
}

.jumbotron {
	background-image: url(https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

.aptitudes {
	background: #000000;
	background: -webkit-linear-gradient(to right, #434343, #000000);
	background: linear-gradient(to right, #434343, #000000);
	color: white;
}

#btn {
	background: #0062ff;
	color: #fff;
	transition: opacity 0.20s ease-in-out;
}

#btn:hover {
	opacity: 0.80;
}

#apPro {
	margin: 1rem 0;
}

#footer {
	color: white;
	background: #000000;
	background: -webkit-linear-gradient(to right, #434343, #000000);
	background: linear-gradient(to right, #434343, #000000);
	position: fixed;
	height: 30px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

#nav {
	padding: 0;
}

#navLink {
	color: #fff;
	margin: 0.2rem 2.2rem;
	padding: 0;
	transition: color 0.1s ease-in-out;
}

#navLink:hover {
	opacity: 1;
	color: #0062ff;
}

#iconNav {
	font-size: 1.4rem;
}

#pNav {
	margin: 0.2rem 0 0.1rem;
	text-transform: uppercase;
	font-weight: 625;
}

#iJumb {
	color: white;
	margin: 1.5rem 1rem;
	font-size: 1.8rem;
	transition: opacity 0.1s ease-in-out;
}

#iJumb:hover {
	opacity: 0.6;
}

#fotoP {
	margin: auto;
	width: 8rem;
	padding: 0;
}

#iconHab {
	font-size: 7rem;
	margin: 1rem 1rem;
}
